# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Maven directories
target/

# Eclipse project files
.project
.classpath
.settings/
bin/

# IntelliJ IDEA project files
.idea/
*.iml
*.ipr
*.iws
out/

# NetBeans project files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code files
.vscode/

# macOS files
.DS_Store

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db

# JetBrains IDE settings
.idea/
*.iml
